h1 {
  font-family: "Manrope", sans-serif;
  text-align: center;
}
.navbar {
  margin: 0.5%;
}

.container {
  padding: 1%;
}

.fixed-footer {
  color: lightslategray;
  text-align: center;
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
}
